Flask
torch
torchvision
faiss-cpu
openai-clip
Pillow
gunicorn
waitress
flask-cors
Flask-Session
pymongo
dnspython            # for mongodb+srv URIs
requests             # HTTP calls
selenium             # browser automation
chromedriver-binary  # bundles chromedriver executable
